//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//<ПЕРЕМЕННЫЕ>===================================================================================================================================
$index: calc(1vw + 1vh);
$fontFamilyTitle: '';
//<ЦВЕТА(COLOR)>========================================================================================================================================================
//$Color1:#000;
//$Color2:#000;
//$Color3:#000;
//$Color4:#000;
//$Color5:#000;
//=====ВАЖНО ИЗМЕНЕНИЯ===================================================================================================================================================
.page{
	will-change: transform;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================